:root {
  --board-color: #725AC1;
  --board-border: #242038;
  --board-color-2: #8D86C9;
  --board-color-3: #F7ECE1;
  --cool-green: #61FF7E;
  --cool-red: #D05353;
}
body {
  background-color: #CAC4CE;
}
div {
  margin: 5px;
  padding: 5px
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.yahtzee-header {
  font-family: quicksand;
  font-size: 70px;
  font-weight: bold;
}
.roll-subheading {
  font-family: quicksand;
  font-size: 30px;
}
.board-and-score-labels {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: var(--board-border);
  border-radius: 15px;
}
.roll-button-and-data {
  width:75%;
  text-align: center;
}
.board-label {
  width:75%;
  display: flex;
  background-color: var(--board-color);
  border-radius: 15px;
}
.score-label-container {
  width:25%;
  background-color: var(--board-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.score-label {
  text-align: center;
  font-size: 50px;
  font-family: quicksand;
  font-style: italic;
  color: var(--board-color-3);
}
.board-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: var(--board-border);
  border-radius: 15px;
}
.roll-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 75%;
  background-color:var(--board-color);
  border-radius: 15px;
}
.dice-container {
  border:none;
}
.dice-display {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
}
#dc0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 20%;
  height: 45%;
}
#d0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
}
#dc1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 20%;
  height: 55%;
}
#d1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
}
#dc2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 20%;
  height: 35%;
}
#d2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
}
#dc3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 20%;
  height: 65%;
}
#d3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
}
#dc4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 20%;
  height: 45%;
}
#d4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.score-container {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 25%;
  background-color: var(--board-color);
  border-radius: 15px;
}
.score-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border: none;
}
.score-text {
  width:75%;
  text-align: center;
  background-color: var(--board-border);
  color: var(--board-color-3);
  font-family: quicksand;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: var(--cool-red);
}
.score-number {
  width:75%;
  text-align: center;
  background-color: var(--board-border);
  color: var(--board-color-3);
  font-family: quicksand;
  border-style: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: var(--cool-red);
}
.score-number-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:50%;
  border: none;
}
.keepers-section-container {
  display: flex;
  align-items: end;
  background-color: var(--board-border);
  border-radius: 15px;
}
.keeper-board-container {
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  height:150px;
  background-color: var(--board-color);
  border-radius: 15px;
}
#k0 {
  height:100px;
  width:100px;
}
#k1 {
  height:100px;
  width:100px;
}
#k2 {
  height:100px;
  width:100px;
}
#k3 {
  height:100px;
  width:100px;
}
#k4 {
  height:100px;
  width:100px;
}
.keepers-board-text {
  display: flex;
  align-items:center;
  flex-direction: row;
  width: 50%;
  height:150px;
  background-color: var(--board-color);
  border-radius: 15px;
}
.yahtzee-text {
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: quicksand;
  font-style: italic;
  color: var(--board-color-3);
  border:none;
}
.roll-button {
  width:100%;
  height:100%;
  text-align: center;
  font-size: 50px;
  font-family: quicksand;
  font-style: italic;
  color: var(--board-color-3);
  background: var(--board-border);
  border-radius: 15px;
  padding: 0px;
  margin: 0px;
  border: none;
}
.keeper-dice {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 15px;
}
.roll-count {
  background-color: var(--board-border);
  border-radius: 15px;
  text-align: center;
  font-size: 35px;
  font-family: quicksand;
  color: var(--board-color-3);
  margin: 0px;
  padding: 5px;
}